@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #303437;
  font-weight: 500; }

a {
  text-decoration: none; }

ul {
  display: block;
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.progress {
  position: relative;
  height: 20px;
  width: 80%;
  background: #eaf3fa; }

.progress .color {
  position: absolute;
  background-color: #64b5f6;
  width: 0;
  height: 20px;
  animation: progress 3s infinite linear; }

@keyframes progress {
  0% {
    width: 0; }
  25% {
    width: 25%; }
  50% {
    width: 50%; }
  75% {
    width: 75%; }
  100% {
    width: 100%; } }
.popup-wrapper {
  padding: 10px 20px 50px;
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  background: url("../images/bg-popup.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative; }
  .popup-wrapper.logo-center {
    padding: 10px 20px 20px; }
    .popup-wrapper.logo-center .popup-main__home {
      height: auto; }
      .popup-wrapper.logo-center .popup-main__home .pmh-logo {
        justify-content: center; }
  .popup-wrapper .popup-main__home {
    /* height: 710px; */
    overflow: hidden; }
    .popup-wrapper .popup-main__home .pmh-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      padding-right: 40px; }
      .popup-wrapper .popup-main__home .pmh-logo a {
        margin-left: -20px; }
    .popup-wrapper .popup-main__home .pmh-popup__title {
      text-align: center;
      margin: 20px 0;
      font-size: 24px;
      font-weight: 500;
      line-height: 1; }
    .popup-wrapper .popup-main__home .popup-main .pmh-switches {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .popup-wrapper .popup-main__home .popup-main .pmh-switches .form-check {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0; }
        .popup-wrapper .popup-main__home .popup-main .pmh-switches .form-check .form-check-input {
          width: 56px;
          height: 32px;
          padding: 0;
          margin: 0 8px 0 0; }
        .popup-wrapper .popup-main__home .popup-main .pmh-switches .form-check .form-check-label {
          font-size: 18px;
          font-weight: 700;
          color: #6C7072; }
    .popup-wrapper .popup-main__home .popup-main .pmh-activity {
      border-top: 1px solid #CBD3DC;
      margin-top: 25px; }
      .popup-wrapper .popup-main__home .popup-main .pmh-activity .pmh-activity__main {
        display: flex;
        align-items: center;
        justify-content: center; }
        .popup-wrapper .popup-main__home .popup-main .pmh-activity .pmh-activity__main .pmh-activity__item {
          text-align: center;
          padding: 0 10px;
          width: 180px; }
          .popup-wrapper .popup-main__home .popup-main .pmh-activity .pmh-activity__main .pmh-activity__item .pmh-activity__count {
            font-size: 32px;
            line-height: 36px;
            font-weight: 700;
            color: #4285F4;
            margin-bottom: 10px; }
          .popup-wrapper .popup-main__home .popup-main .pmh-activity .pmh-activity__main .pmh-activity__item .pmh-activity__name {
            font-weight: 700;
            color: #6C7072; }
    .popup-wrapper .popup-main__home .popup-main .btn-see {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      background: #4285F4;
      border-radius: 12px;
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      height: 60px;
      margin: 20px 0; }
    .popup-wrapper .popup-main__home .pmh-list__account {
      border-top: 1px solid #CBD3DC; }
      .popup-wrapper .popup-main__home .pmh-list__account .pmh-popup__title {
        margin-bottom: 10px; }
      .popup-wrapper .popup-main__home .pmh-list__account .popup-table {
        font-size: 14px; }
        .popup-wrapper .popup-main__home .pmh-list__account .popup-table th {
          font-weight: 700; }
        .popup-wrapper .popup-main__home .pmh-list__account .popup-table td span {
          vertical-align: middle; }
        .popup-wrapper .popup-main__home .pmh-list__account .popup-table td .currency {
          font-size: 14px;
          text-decoration: underline;
          vertical-align: top; }
      .popup-wrapper .popup-main__home .pmh-list__account .pagination {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center; }
        .popup-wrapper .popup-main__home .pmh-list__account .pagination a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: #0078FF;
          color: #FFFFFF;
          margin: 0 8px;
          text-decoration: none; }
          .popup-wrapper .popup-main__home .pmh-list__account .pagination a.active {
            background: #FFFFFF;
            color: #000000; }
    .popup-wrapper .popup-main__home .pmh-control {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: calc(100% - 40px);
      bottom: 15px; }
      .popup-wrapper .popup-main__home .pmh-control a {
        text-decoration: none;
        font-weight: 700; }

.popup-sub {
  font-size: 18px;
  font-weight: 700;
  color: #D85751;
  text-align: center;
  margin: 15px 0 20px; }
  .popup-sub a {
    text-decoration: none;
    color: #4285F4; }

.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; }
  .popup-close:hover {
    opacity: .7; }

.icon-close {
  background: url("../images/icon-close.svg") no-repeat center center;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block; }

/*# sourceMappingURL=css-popup.css.map */
